# Cache objects
packer_cache/

# For built boxes
*.box
output-virtualbox-iso/*
virtualbox-*
builds/client
builds/node
builds/ubuntu
builds/tmp
builds/.vagrant
builds/ruby
trash*

# Env variables
env.json

# OSX
.DS_Store
